In [2]:
import os
import kagglehub

# Set your custom path before downloading
os.environ["KAGGLEHUB_CACHE"] = r"D:\Programming\ML\End-to-End\CV\End-to-End-PlantVillage"

# Files will now download into /your/custom/path/datasets/...
path = kagglehub.dataset_download(r"uviiiii/real-estate")

Downloading to D:\Programming\ML\End-to-End\CV\End-to-End-PlantVillage\datasets\uviiiii\real-estate\2.archive...

100%|██████████| 6.98k/6.98k [00:00<00:00, 7.15MB/s]

Extracting files...

In [3]:
path

'D:\\Programming\\ML\\End-to-End\\CV\\End-to-End-PlantVillage\\datasets\\uviiiii\\real-estate\\versions\\2'

In [4]:
os.listdir(path)

['Real estate valuation data set.csv']

In [6]:
csv_path = os.path.join(path, os.listdir(path)[0])
csv_path

'D:\\Programming\\ML\\End-to-End\\CV\\End-to-End-PlantVillage\\datasets\\uviiiii\\real-estate\\versions\\2\\Real estate valuation data set.csv'

In [7]:
import pandas as pd 
pd.read_csv(csv_path)

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [ ]:
import os
data_url = r"https://www.kaggle.com/datasets/uviiiii/real-estate"

splited = data_url.split("datasets/")
splited

['https://www.kaggle.com/', 'uviiiii/real-estate']

In [ ]:
data_url = r"https://www.kaggle.com/datasets/uviiiii/real-estate"

if "datasets" in data_url:
    data_url = data_url.split("datasets/")

In [ ]:
def download_data(data_url: str):
    try:
        if "datasets" in data_url:
            data_url = data_url.split("datasets/")[-1]
        os.environ["KAGGLEHUB_CACHE"] = "D:\Programming\ML\End-to-End\CV\End-to-End-PlantVillage" 
        kagglehub.dataset_download(data_url)

    except Exception as e:
        raise ValueError(f"Invalid URL: must be user/dataset-name ERROR: {e}")
    
    
download_data("https://www.kaggle.com/datasets/uviiiii/real-estate")

Downloading to D:\Programming\ML\End-to-End\CV\End-to-End-PlantVillage\datasets\uviiiii\real-estate\2.archive...

100%|██████████| 6.98k/6.98k [00:00<00:00, 3.57MB/s]

Extracting files...

In [ ]:
path

NameError: name 'path' is not defined

In [1]:
import mlflow 
import dagshub
dagshub.init(repo_owner='youssefBedeer', repo_name='End-to-End-PlantVillage', mlflow=True)

MODEL_URI = "models:/VGG16Model/production"
model = mlflow.pyfunc.load_model(model_uri= MODEL_URI)
model

Accessing as youssefBedeer

Initialized MLflow to track repo "youssefBedeer/End-to-End-PlantVillage"

Repository youssefBedeer/End-to-End-PlantVillage initialized!

Downloading artifacts:   0%|          | 0/6 [00:00<?, ?it/s]

mlflow.pyfunc.loaded_model:
  artifact_path: mlflow-artifacts:/100e8af8a37d4d29a954f0446966653d/models/m-667f5811450c45559684406b5130f086/artifacts
  flavor: mlflow.keras
  run_id: 26b60d1bcf8a44cc8b0a1c567aa64384

In [3]:
from pathlib import Path
from tensorflow.keras.preprocessing import image
from tensorflow.keras.utils import img_to_array
import numpy as np 


image_path = Path(r"D:\Programming\45 day roadmap\day_7 (MLOps)\MLFlow\data\PlantVillage\Potato___Early_blight\00d8f10f-5038-4e0f-bb58-0b885ddc0cc5___RS_Early.B 8722.JPG")

image = image.load_img(image_path, target_size=(224,224))
image_array = img_to_array(image) # (224,224,3)
img_batch = np.expand_dims(image_array, axis=0)

In [4]:
img_batch.shape

(1, 224, 224, 3)

In [ ]:

model.predict(img_batch)

1/1 ━━━━━━━━━━━━━━━━━━━━ 2s 2s/step

array([[0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]],
      dtype=float32)

In [6]:
import os 
images_folder = Path(r"D:\Programming\45 day roadmap\day_7 (MLOps)\MLFlow\data\PlantVillage")

CLASS_NAMES = os.listdir(images_folder)
CLASS_NAMES

['Pepper__bell___Bacterial_spot',
 'Pepper__bell___healthy',
 'Potato___Early_blight',
 'Potato___healthy',
 'Potato___Late_blight',
 'Tomato_Bacterial_spot',
 'Tomato_Early_blight',
 'Tomato_healthy',
 'Tomato_Late_blight',
 'Tomato_Leaf_Mold',
 'Tomato_Septoria_leaf_spot',
 'Tomato_Spider_mites_Two_spotted_spider_mite',
 'Tomato__Target_Spot',
 'Tomato__Tomato_mosaic_virus',
 'Tomato__Tomato_YellowLeaf__Curl_Virus']

In [7]:
prediction = model.predict(img_batch)
class_index = np.argmax(prediction)
prediction_class_name = CLASS_NAMES[class_index]
prediction_class_name

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 385ms/step

'Potato___Early_blight'